<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="/static/flowchart.css">
        <title>Project Flowchart</title>
    </head>
    <body>
        <nav>
            <a href='/'>Home</a> |
            <a href='/about'>About Project</a> |
            <a href='/predictions'>Predictions</a> |
            <a href='/evaluation'>Model Evaluation Metrics</a>
        </nav>
        <img src="{{url_for('static',filename='images/flow.png')}}"alt='fjfcmg'>
    </body>
    </html>