<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CKD Disease Awareness</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="content1">
    <h2>Title : Enhanced Chronic Kidney Disease Detection Via Eurygasters Optimization and Ensemble Learning</h2>
    <h2>Team Members  1.Bobbepalli Aravind babu , 2.Siddela Vineeth , 3.Repudi Vivek</h2>
</div>
    <nav>
            <img src="{{ url_for('static', filename='images/NEClogo.png') }}" alt="CKD Logo" width="10" height="10">
        <a href='/about'>About Project</a> |
        <a href='/predictions'>Predictions</a> |
        <a href='/evaluation'>Model Evaluation Metrics</a> |
        <a href='/flowchart'>Project Flowchart</a>
    </nav>
    <header>
        <h1>Welcome to CKD Disease Awareness</h1>
        <p>Understanding Chronic Kidney Disease (CKD) and its prevention.</p>
    </header>

    <section class="content">
        <h2>What is Chronic Kidney Disease (CKD)?</h2>
        <p>Chronic Kidney Disease (CKD) is a condition characterized by the gradual loss of kidney function over time. CKD can lead to kidney failure, heart disease, or even stroke.</p>
        
        <h3>Common Symptoms of CKD:</h3>
        <ul>
            <li>Fatigue</li>
            <li>Swelling in legs, ankles, and feet</li>
            <li>Shortness of breath</li>
            <li>Frequent urination</li>
        </ul>
        
        <h3>Prevention & Treatment:</h3>
        <p>Maintaining a healthy lifestyle, proper hydration, and regular check-ups can help prevent CKD.</p>
        
    </section>


</body>
</html>
